@model List<Category>

<div class="container">
	<div class="row pt-4 pb-3">
		<div class="col-6">
			<h2 class="text-primary">Lista kategorija</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Category" asp-action="CreateCategory" class="btn btn-outline-success"><i class="bi bi-plus-circle"></i> Kreiraj novu</a>
		</div>
	</div>
	<div class="categoryTable">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						Ime kategorije
					</th>
					<th>
						Redoslijed prikaza
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
				{
					<tr>
						<td>@obj.Name</td>
						<td>@obj.DisplayOrder</td>
						<td>
							<div class="w-50 btn-group" role="group">
								<a asp-controller="Category" asp-action="EditCategory" asp-route-id="@obj.Id" class="btn btn-outline-primary mx-1 mb-2">
									<i class="bi bi-pencil-square"></i> Uredi
								</a>
								<a asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@obj.Id" class="btn btn-outline-danger mx-1 mb-2">
									<i class="bi bi-trash-fill"></i> Obriši
								</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>