@{
    ViewData["Title"] = "About us";
}
<h1 class="text-center py-3">@ViewData["Title"]</h1>

<div class="row pb-5">
    <div class="col-md-6" style="background-color: white; padding: 30px; border-radius: 50px; margin-top: 20px;">
        <p>
            HomeImprove is an application that is based on an easier search and search for a handyman who will potentially solve the user's problem. 
            It consists of several roles, the role of users who search and negotiate with handyman, and the role of companies or handyman where they offer their services. <br />
            If you are a user looking for a handyman, these are your next steps: <br />
            - it is necessary to create a user account if you do not have one <br />
            -when you log in, you are offered the services of a handyman's, then you choose what suits you. Clicking on the card opens a page with the details of that 
            handyman, and in the description you have a description of the handyman, information, email and phone number. If that handyman suits you, arrange a job via 
            email. <br />
            If you are a user offering your services, these are your next steps: <br />
            - it is necessary to create a user account if you do not have one <br />
            -when you log in, you have the possibility to see the offers of other handyman's, and also the possibility to place your own offers. The offers are not limited, which means that if you are a specialist in several categories, you have the option of posting more offers from the same profile.
        </p>
       
    </div>
    <div class="col-md-6 pb-5" style="margin-top: 40px;">
        <img src="~/images/logo/homeImprove.png" style="height: 350px; margin: auto; display: block;" />
    </div>
</div>