@model List<Handyman>

<div class="container">
	<div class="row pt-4 pb-3">
		<div class="col-6">
			<h2 class="text-primary">Lista kategorija</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Handyman" asp-action="UpsertHandyman" class="btn btn-outline-success"><i class="bi bi-plus-circle"></i> Kreiraj novu</a>
		</div>
	</div>
	<div class="categoryTable">
		<table id="tblData" class="table table-striped">
			<thead>
				<tr>
					<th>
						Ime kategorije
					</th>
					<th>
						Ime majstora
					</th>
					<th>
						Cijena
					</th>
					<th>
						Kategorija
					</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
</div>

@section Scripts {
	<script src="~/js/handyman.js"></script>
}