@model HandymanVM

<form method="post"¨class="row" enctype="multipart/form-data">
	<input asp-for="Handyman.Id" hidden />
	<input asp-for="Handyman.ImageUrl" hidden />
	<div class="row pb-5">
		<div class="col-10">
			<div class="scrollable-form">
				<div class="border p-3 my-4">
					<div class="row pb-2">
						<h2 class="text-primary">@(Model.Handyman.Id != 0 ? "Update" : "Create") Handyman</h2>
						<hr />
					</div>
					<div class="form-floating py-2 col-12">
						<input asp-for="Handyman.Title" class="form-control border-0 shadow" />
						<label asp-for="Handyman.Title" class="ms-2"></label>
						<span asp-validation-for="Handyman.Title" class="text-danger"></span>
					</div>
					<div class="py-2 col-12">
						<label asp-for="Handyman.Description" class="ms-2 text-muted"></label>
						<textarea asp-for="Handyman.Description" class="form-control border-0 shadow" rows="5"></textarea>
					</div>
					<div class="form-floating py-2 col-12">
						<input asp-for="Handyman.Name" class="form-control border-0 shadow" />
						<label asp-for="Handyman.Name" class="ms-2"></label>
						<span asp-validation-for="Handyman.Name" class="text-danger"></span>
					</div>
					<div class="form-floating py-2 col-12">
						<input asp-for="Handyman.Price" class="form-control border-0 shadow" />
						<label asp-for="Handyman.Price" class="ms-2"></label>
						<span asp-validation-for="Handyman.Price" class="text-danger"></span>
					</div>
					<div class="form-floating py-2 col-12">
						<select asp-for="Handyman.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
							<option disabled selected>--Choose Category--</option>
						</select>
						<label asp-for="Handyman.CategoryId" class="ms-2"></label>
					</div>
					<div class="form-floating py-2 col-12">
						<input type="file" name="file" class="form-control border-0 shadow" />
						<label asp-for="Handyman.ImageUrl" class="ms-2"></label>
					</div>
					<div class="row mt-3">
						<div class="col-6 col-md-3">
							@if (Model.Handyman.Id != 0)
							{
								<button type="submit" class="btn btn-outline-primary form-control">Update</button>
							}
							else
							{
								<button type="submit" class="btn btn-outline-primary form-control">Create</button>
							}
						</div>
						<div class="col-6 col-md-3">
							<a asp-controller="Handyman" asp-action="Index" class="btn btn-primary border form-control">Back to list</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-2">
			<img src="@Model.Handyman.ImageUrl" width="100%" style="border-radius: 5px; border: 1px solid #bbb9b9" />
		</div>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}